@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap");
@font-face {
  font-family: gilroyBold_f;
  src: url(../fonts/Gilroy/Gilroy-ExtraBold.otf);
}
@font-face {
  font-family: gilroyLight_f;
  src: url(../fonts/Gilroy/Gilroy-Light.otf);
}
:root {
  --mainColor: #ffff00;
  --black-primary: #0c0c0f;
  --black-secondly: #1e1e22;
  --white-primary: #ebebf0;
  --white-secondly: #cbcad0;
  --white-not-change: #ebebf0;
  --v-black-not-change: #1e1e22;
  --filter:brightness(1%);
}

.darkmode {
  --black-primary: #ebebf0;
  --black-secondly: #cacacf;
  --white-primary: #0c0c0f;
  --white-secondly: #1a1a1b;
  --white-not-change: #ebebf0;
  --black-not-change: #1e1e22;
  --filter: grayscale(100%);
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

input, textarea, button, select, a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
  background: transparent;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 10px;
}

body {
  transition: 0.2s;
  background: var(--white-primary);
  color: var(--black-secondly);
  line-height: 1.4;
  caret-color: var(--mainColor);
  font-family: "gilroyLight_f";
  font-size: 14px;
}
.lock body {
  overflow: hidden;
  touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.container {
  max-width: 1450px;
  margin: 0 auto;
}
.container > * {
  min-width: 0;
}

main {
  padding-top: 70px;
  flex: 1 1 auto;
}

.scroll-content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.title {
  color: var(--black-primary);
  font-size: 25px;
  font-family: "gilroyBold_f";
}

.text {
  color: var(--black-secondly);
}

@media only screen and (max-width: 767.98px) {
  ::-webkit-scrollbar {
    display: none;
  }
}
::-webkit-scrollbar {
  background-color: var(--white-primary);
  width: 16px;
}

::-webkit-scrollbar-track {
  background-color: var(--white-primary);
}

::-webkit-scrollbar-thumb {
  background-color: #a0a0a5;
  border-radius: 16px;
  border: 4px solid var(--white-primary);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #76767a;
}

::-webkit-scrollbar-thumb:active {
  background-color: var(--black-secondly);
}

::-webkit-scrollbar-button {
  display: none;
}

::-moz-selection {
  color: var(--white-secondly);
  background: var(--black-secondly);
}

::selection {
  color: var(--white-secondly);
  background: var(--black-secondly);
}

.loader {
  z-index: 200;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #0c0c0f;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 9px solid #ffff00;
  animation: spinner-bulqg1 0.8s infinite linear alternate, spinner-oaa3wk 1.6s infinite linear;
}

@keyframes spinner-bulqg1 {
  0% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
            clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }
  12.5% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%);
            clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%);
  }
  25% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%);
            clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%);
  }
  50% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
            clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
  }
  62.5% {
    -webkit-clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
            clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
  }
  75% {
    -webkit-clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%);
            clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%);
  }
  100% {
    -webkit-clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%);
            clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%);
  }
}
@keyframes spinner-oaa3wk {
  0% {
    transform: scaleY(1) rotate(0deg);
  }
  49.99% {
    transform: scaleY(1) rotate(135deg);
  }
  50% {
    transform: scaleY(-1) rotate(0deg);
  }
  100% {
    transform: scaleY(-1) rotate(-135deg);
  }
}
@keyframes idTarget {
  0% {
    background: var(--mainColor);
  }
  100% {
    background: rgba(255, 255, 255, 0);
  }
}
.header {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: fixed;
  height: 70px;
  padding: 15px 15px;
  width: 100%;
  z-index: 10;
  transition: 0.2s;
  background: var(--white-primary);
}
.header__body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.header__logo-wrapper {
  height: 40px;
  border-radius: 10px;
  width: 67px;
}
.header__logo {
  cursor: pointer;
  height: 40px;
  width: auto;
  position: relative;
  transition: 0.2s;
}
.header__logo img {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  filter: var(--filter);
}

.menu {
  display: flex;
  height: 40px;
}
.menu__burger {
  display: none;
}
.menu__body {
  height: 40px;
}
.menu__list {
  display: flex;
  gap: 5px;
  height: 40px;
}
.menu__item {
  height: 40px;
  border-radius: 10px;
  position: relative;
  transition: 0.1s;
}
.menu__item:hover {
  background: var(--white-secondly);
}
.menu__link {
  padding: 0 10px;
  color: var(--black-primary);
  height: 40px;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  transition: 0.1s;
}
.menu__item:hover .menu__link {
  background: none;
  color: var(--black-primary);
}

.sub-menu {
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.sub-menu__list {
  cursor: default;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  right: 0;
  top: 50px;
  border-radius: 10px;
  color: var(--white-primary);
  background: var(--white-secondly);
  max-height: 0px;
  transition: max-height 0.3s linear;
  border-radius: 10px;
  padding: 10px;
  transition: 0.2s;
}
.sub-menu__list.active {
  opacity: 1;
  visibility: visible;
  max-height: 500px;
}
.sub-menu__link {
  color: var(--black-primary);
  display: block;
  white-space: nowrap;
  padding: 10px;
  border-radius: 10px;
  transition: 0.1s;
}
.sub-menu__link:hover {
  color: var(--black-primary);
  background: var(--white-primary);
}
.sub-menu__btn {
  padding-right: 30px;
  border-radius: 10px;
}
.sub-menu__arrow {
  transform: rotate(90deg);
  position: absolute;
  right: 4px;
  pointer-events: none;
}
.sub-menu__btn.active {
  background: var(--white-secondly);
  color: var(--black-primary);
}
.sub-menu__btn.active .sub-menu__arrow {
  transform: rotate(0deg);
}

@media (max-width: 767.98px) {
  body.lock {
    overflow: hidden;
  }
  .menu {
    height: auto;
    position: relative;
  }
  .menu__burger {
    display: block;
    position: relative;
    top: 0;
    right: 0px;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    z-index: 2;
    background: var(--white-secondly);
  }
  .menu__burger-icon {
    pointer-events: none;
    color: var(--black-primary);
    height: 25px;
    width: 25px;
    position: absolute;
    top: 7.5px;
    left: 7.5px;
  }
  .menu .menu__burger-icon-one {
    opacity: 1;
    transition: 0.1s;
  }
  .menu .menu__burger-icon-two {
    opacity: 0;
    transition: 0.1s;
  }
  .menu__burger.active .menu__burger-icon-one {
    opacity: 0;
  }
  .menu__burger.active .menu__burger-icon-two {
    opacity: 1;
  }
  .menu__body {
    overflow: auto;
    position: absolute;
    right: 0;
    top: 50px;
    width: auto;
    background: var(--white-secondly);
    visibility: hidden;
    height: auto;
    max-height: 0px;
    transition: max-height 0.2s linear;
    border-radius: 10px;
    padding: 10px;
    transition: 0.2s;
    opacity: 0;
  }
  .menu__body.active {
    opacity: 1;
    visibility: visible;
    transition: max-height 0.3s linear;
    max-height: 1000px;
  }
  .menu__list {
    white-space: nowrap;
    flex-direction: column;
    height: auto;
    gap: 10px;
  }
  .menu__item {
    padding: 10px;
    height: auto;
  }
  .menu__item:hover {
    background: var(--white-primary);
  }
  .menu__link {
    height: auto;
    color: var(--black-primary);
    background: none;
    display: flex;
    align-items: center;
  }
  .menu__link.btn {
    line-height: 1.4;
  }
  .menu__item:hover .menu__link {
    background: none;
    color: var(--black-primary);
  }
  .sub-menu.active {
    background: var(--white-primary);
  }
  .sub-menu.active .sub-menu__btn {
    background: none;
    color: var(--black-primary);
  }
  .sub-menu__list {
    background: var(--white-primary);
    transition: 0.2s;
    transition: max-height 0.2s linear;
    border-radius: 10px;
    padding: 0 10px;
    visibility: hidden;
    position: relative;
    left: 0;
    top: 0px;
    max-height: 0;
  }
  .sub-menu__list.active {
    visibility: visible;
    max-height: 300px;
  }
  .sub-menu__link {
    color: var(--black-primary);
    display: block;
    white-space: nowrap;
    padding: 10px 5px 0px 10px;
    border-radius: 10px;
  }
  .sub-menu__link:hover {
    color: var(--black-primary);
    background: var(--white-primary);
  }
}
.footer {
  width: 100%;
  padding: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.footer__links {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--black-primary);
}
.footer__links:target {
  animation: idTarget 3s;
}
.footer__logo {
  cursor: pointer;
  height: 35px;
  width: auto;
  position: relative;
  transition: 0.2s;
}
.footer__logo img {
  position: absolute;
  top: 0;
  left: 0;
  height: 35px;
  -o-object-fit: cover;
     object-fit: cover;
  filter: var(--filter);
}
.footer__networks {
  display: flex;
  gap: 10px;
}
.footer__copy {
  padding: 10px 0;
}
.footer__link {
  background: var(--black-primary);
  border-radius: 10px;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__icon {
  height: 25px;
  width: 25px;
  color: var(--white-primary);
}
@media only screen and (max-width: 479.98px) {
  .footer__links {
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .footer__logo {
    align-self: start;
  }
  .footer__networks {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .footer__copy {
    text-align: center;
  }
}

.settings {
  position: relative;
}
.settings__btn {
  height: 40px;
  width: 40px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  background: var(--white-secondly);
}
.settings__menu {
  min-width: 320px;
  background: var(--white-secondly);
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  top: 50px;
  right: 0;
  visibility: hidden;
  color: var(--black-primary);
  max-height: 0px;
  transition: 0.2s;
  transition: max-height 0.2s linear;
  display: flex;
  flex-direction: column;
  gap: 5px;
  opacity: 0;
  transition: 0.2s;
}
.settings__menu.active {
  opacity: 1;
  max-height: 500px;
  visibility: visible;
}
.settings__icons {
  pointer-events: none;
  height: 25px;
  width: 25px;
  color: var(--black-primary);
  transform: rotate(0deg);
  transition: 0.2s;
}
.settings__btn.active .settings__icons {
  animation: settings-animation 1s infinite linear;
}
@keyframes settings-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.settings__setting {
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
.settings__mode {
  padding: 4px;
  background: transparent;
  cursor: pointer;
  width: 30px;
  height: 18px;
  border-radius: 10px;
  border: 2px solid var(--black-secondly);
  background: var(--black-secondly);
  position: relative;
}
.settings__mode::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  height: 8px;
  width: 8px;
  background: var(--white-secondly);
  border-radius: 10px;
  transition: 0.2s;
}

body.darkmode .settings__mode::after {
  left: 15px;
  background: var(--white-secondly);
}

body.darkmode .settings__mode {
  background: var(--black-primary);
  border: 2px solid var(--black-primary);
}

.setting__choose-color {
  display: flex;
  gap: 5px;
}
.setting__color {
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.about {
  min-height: 400px;
  width: 100%;
  padding: 20px 15px;
}
.about__body {
  padding: 50px 0;
  min-height: 400px;
  width: 100%;
  position: relative;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about__body::after {
  content: "";
  z-index: 0;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/logos/second-bg.jpg);
  background-position: center center;
  background-size: cover;
  box-shadow: inset 0 0 100px var(--white-not-change);
  opacity: 1;
}
.about__title {
  padding: 0 calc(20px + 10.3448275862vw);
  z-index: 2;
  text-align: center;
  font-size: 30px;
  color: var(--white-not-change);
  margin-bottom: 10px;
}
.about__me {
  color: var(--white-not-change);
  z-index: 2;
  margin: 20px calc(20px + 8.9655172414vw);
  -webkit-backdrop-filter: grayscale(100%) blur(10px);
          backdrop-filter: grayscale(100%) blur(10px);
  padding: 15px;
  border-radius: 15px;
}
.about__my-story {
  margin-top: 10px;
  font-family: "gilroyBold_f";
  z-index: 2;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 6px;
  background: var(--white-not-change);
  color: var(--black-not-change);
  transition: 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.about__my-story:hover {
  padding: 10px 25px;
}

.main-title {
  position: relative;
  padding-left: 20px;
}
.main-title::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  border-radius: 10px;
  background: var(--mainColor);
}

.article {
  padding: 20px;
  padding-bottom: 40px;
}
.article__title {
  margin-bottom: 10px;
}
.article__text {
  padding: 0 20px;
}

.second-title {
  position: relative;
  padding-left: 20px;
  font-family: "gilroyBold_f";
}
.second-title::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 0px;
  margin: 5px;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: var(--mainColor);
}

.skills-article {
  padding: 0 20px;
  width: 100%;
}
.skills-article__wrapper {
  display: flex;
  gap: 50px;
  justify-content: space-between;
}
.skills-article__title {
  font-size: 20px;
  color: var(--black-primary);
}
.skills-article__grid {
  padding: 10px 20px;
  padding-bottom: 30px;
  display: grid;
  gap: 30px 50px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.skills-article__tool {
  font-family: "gilroyBold_f";
  padding-bottom: 10px;
  font-size: 20px;
  color: var(--black-secondly);
}
.skills-article__progress-bar {
  width: 100%;
  height: 5px;
  background: var(--white-secondly);
  position: relative;
  border-radius: 10px;
}
.skills-article__progress-bar::after {
  content: "";
  position: absolute;
  border-radius: 10px;
  top: -2.5px;
  left: 0;
  width: var(--width-progress);
  height: 10px;
  background: var(--mainColor);
}
@media only screen and (max-width: 767.98px) {
  .skills-article__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.portofolio {
  padding: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.portofolio__grid {
  padding: 20px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.project {
  padding: 10px;
  position: relative;
}
.project__wrapper {
  background: var(--white-secondly);
  border-radius: 15px;
}
.project__img {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
}
.project__img img {
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.project__description {
  padding: 5px;
  padding-bottom: 0;
  position: relative;
}
.project__like {
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 0px;
  right: 0px;
  background: var(--white-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}
.project__icon {
  width: 20px;
  height: 20px;
  color: var(--black-secondly);
}
.project__like.active .project__icon {
  color: hsl(0, 81%, 44%);
}
.project__name {
  font-family: "gilroyBold_f";
  text-transform: uppercase;
  color: var(--black-primary);
  font-size: 16px;
}
.project__data {
  font-size: 12px;
  opacity: 0.95;
}

.sites {
  padding: 5px 20px;
}
.sites__body {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}
@media only screen and (max-width: 767.98px) {
  .sites__body {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
@media only screen and (max-width: 479.98px) {
  .sites__body {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

.site-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 15px;
}
.site-item__wrapper {
  border-radius: 15px;
  background: var(--white-secondly);
  position: relative;
  transition: 0.2s;
}
.site-item__row {
  display: flex;
  width: 100%;
  gap: 20px;
  padding-bottom: 10px;
  -webkit-mask-image: linear-gradient(to left, rgba(0, 0, 0, 0), #000, #000, #000);
          mask-image: linear-gradient(to left, rgba(0, 0, 0, 0), #000, #000, #000);
}
.site-item__logo-site {
  height: 50px;
  min-width: 50px;
  position: relative;
  border-radius: 5px;
}
.site-item__logo-site img {
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.site-item__name-site {
  color: var(--black-primary);
  padding: 10px 0;
  white-space: nowrap;
}
.site-item__description {
  width: 100%;
  padding-right: 30px;
  color: var(--black-secondly);
  text-align: left;
}
.site-item__icon-wrapper {
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 10px;
  right: 10px;
  background: var(--white-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}
.site-item__acces-button {
  font-size: 30px;
  margin: 5px;
  cursor: pointer;
  color: var(--black-secondly);
}

.logo-png {
  background: var(--white-primary);
  padding: 5px;
}
.logo-png img {
  padding: 5px;
}

.popup {
  opacity: 0;
}
.popup.active {
  opacity: 1;
  pointer-events: visible;
}
.popup .inner {
  padding: 15px;
  background: var(--white-secondly);
  min-width: 320px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
}
.popup .close {
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.popup .close path {
  fill: #fff;
}

.popup {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.3s;
  pointer-events: none;
}
.popup__title {
  line-height: 1;
}
.popup__networks {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.popup__link {
  display: flex;
  gap: 10px;
  align-items: center;
}
.popup__icon {
  height: 30px;
  width: 30px;
  padding: 2.5px;
  color: var(--white-secondly);
  border-radius: 5px;
}
.popup__social {
  font-size: 20px;
}

.instagram svg {
  background: radial-gradient(circle at 30% 110%, #ffdb8b 0%, #ee653d 25%, #d42e81 50%, #a237b6 75%, #3e5fbc 100%);
}

.gmail svg {
  background: conic-gradient(#4285f4, #4285f4, #db4437, #db4437, #f4b400, #f4b400, #0f9d58, #0f9d58, #4285f4);
}

.behance svg {
  background: #053eff;
}

.upwork svg {
  background: #6fda44;
}
.upwork svg path {
  transform: translate(0.5px, 0.5px);
}

.linkedin svg {
  background: #0077b5;
}

.facebook svg {
  background: #4267B2;
}