
.article {
   padding:0 15px 15px 15px;
   &__body {
      background: var(--white-secondly);
      padding: 30px;
      border-radius: 20px;
   }
   &__title {
      margin-bottom: 10px;
   }
   &__text {
      padding: 0 20px;
   }
}

.web-dev {
   &__title {
   }
}

.graphic {
   &__title {
   }
}
