.main-title {
   position: relative;
   padding-left: 20px;
   &::after{
      content:'';
      position: absolute;
      top: 0;
      left: 0;
      width: 10px;
      height: 100%;
      border-radius: 10px;
      background: var(--mainColor);
   }
}
.article {
   padding: 20px;
   padding-bottom: 40px;
   &__title {
      margin-bottom: 10px;
   }
   &__text {
      padding: 0 20px;
   }
}

.web-dev {
   &__title {
   }
}

.graphic {
   &__title {
   }
}
