.second-title {
   position: relative;
   padding-left: 20px;
   &::after{
      content:'';
      position: absolute;
      top: 4px;
      left: 0px;
      margin: 5px;
      width: 10px;
      height: 10px;
      border-radius: 10px;
      background: var(--mainColor);
   }
}
.skills-article {
   padding-left: 20px;
   &__title {
      font-size: 20px;
      color: var(--black-primary);
   }
   &__grid {
      padding: 10px 0;
      padding-bottom: 30px;
      display: grid;
      gap:30px 50px;
      grid-template-columns: repeat(auto-fit , minmax(200px,1fr));
   }
   &__tool {
      font-family: $fontFamilyBold;
      padding-bottom: 10px;
      font-size: 20px;
      color: var(--black-secondly);
   }
   &__progress-bar {
      width: 100%;
      height: 5px;
      background: var(--white-secondly);
      position: relative;
      border-radius:10px ;
   }
   &__progress-bar::after{
      content:'';
      position: absolute;
      border-radius:10px ;
      top: -2.5px;left: 0;
      width: var(--width-progress);
      height: 10px;
      background: var(--mainColor);
   }

}

